.search_filed{
    width: 25%;
    height: 100%;
    margin-right: 40px;
}

input{
    width: 90%;
    margin:15px;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: none;
    font-size: 1rem;
    color: #686b78;
}
