.haeder_nav_list{
    width: 20%;
}

.haeder_nav_list>ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.nav_list_item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 25px;
    color: #3D4152;
}

.nav_list_item_hover{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 25px;
    color: #fc8019;
}

.nav_list_name{
    padding: 0px 5px;
    margin-bottom: 2px;
    font-size: 1.1rem;
    margin-right: 10px;
}
