.restaurentContainer_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin-top: 2rem;
    background-color: #ffffff;
    margin-right: 1rem;
}